[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nbTransmission"]
	path = nbTransmission
	url = https://github.com/sarahleavitt/nbtransmission
